<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Viewing {{.Title}}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/asciinema-player.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/output.css" />

</head>

<body class="bg-purple-200">
<div class="container mx-auto"> 
    <div class="container-fluid p-2 m-4">
    <p class="uppercase text-center font-semibold text-4xl font-mono text-gray-600">
        {{.Title}}
    </p>
    </div>

    {{$title := .Title}}
    {{range $scene, $file := .Scenes}}
    <div class="grid grid-cols-1 p-4 sm:p-1">
        {{range $file}}
        <div class="max-w-md m-4 mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
			<audio class="play">
				<source src="/data/{{$title}}/scene_{{$scene}}/audio/file_{{.}}.mp3" type="audio/mpeg">
			</audio>
            <asciinema-player
                src="/data/{{$title}}/scene_{{$scene}}/asciicasts/file_{{.}}.cast" 
                rows="24" 
                cols="80"
                id="scene_{{$scene}}-file_{{.}}"
				class="play"
                >
            </asciinema-player>

            <div class="grid justify-items-center m-2">
            <p class="bg-gray-100 shadow-lg mt-2 text-gray-500 rounded-lg m-4 p-2">
            This is a paragraph explaining what to do.
            </p>
			<button type="button" onclick="playCast(this)" 
			class="bg-purple-400 shadow-xl font-mono text-gray-600 h-16 w-40 rounded-lg hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-50 hover:text-gray-200"
			id="scene_{{$scene}}-audio_{{.}}">
                Play with audio
			</button>
            </div>
        </div>
        {{end}}
    </div>
    {{end}}
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/asciinema-player.js"></script>
</div>
</body>
</html>
