<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Viewing {{.Title}}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/asciinema-player.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

</head>

<body>
<div>
    <div>
    <p>
        {{.Title}}
    </p>
    </div>

    {{$title := .Title}}
    {{range $scene, $file := .Scenes}}
    <div>
        {{range $file}}
        <div>
            <audio class="play">
            <source src="/data/{{$title}}/scene_{{$scene}}/audio/file_{{.}}.mp3" type="audio/mpeg">
            </audio>
            <asciinema-player
                src="/data/{{$title}}/scene_{{$scene}}/asciicasts/file_{{.}}.cast" 
                rows="24" 
                cols="80"
                id="scene_{{$scene}}-file_{{.}}"
                class="play"
                >
            </asciinema-player>

            <div>
            <p>
            This is a paragraph explaining what to do.
            </p>
            <button type="button" onclick="playCast(this)"
                    id="scene_{{$scene}}-audio_{{.}}">
                Play with audio
            </button>
            </div>
        </div>
        {{end}}
    </div>
    {{end}}
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/asciinema-player.js"></script>
</div>
</body>
</html>
