<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <title>{% block title %}{% endblock %} - Good Bot</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="https://github.com/TrickyTroll/good-bot">Sources</a></li>
        <li><a href="/post">New Project</a></li>
        <li><a href="/view">View Projects</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      <div class="footer-messages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      <div class="footer-copyright">
        {% block footer %}
        &copy; Copyright 2021 by Etienne Parent</a>.
        {% endblock %}
      </div>
    </div>
  </body>
  {% block scripts %}
  <script>
    function useTab(area, character) {
        var key = character.keyCode ? character.keyCode : character.charCode ? character.charCode : character.which;
        if (key == 9 && !character.shiftKey && !character.ctrlKey && !character.altKey) {
            var action = area.scrollTop;
            if (area.setSelectionRange) {
                var selectionStart = area.selectionStart;
                var selectionEnd = area.selectionEnd;
                area.value = area.value.substring(0, selectionStart) + "  " + area.value.substr(selectionEnd);
                area.setSelectionRange(selectionStart + 2, selectionStart + 2);
                area.focus();
            } else if (area.createTextRange){
                document.selection.createRange().text = "  ";
                character.returnValue = false;
            }
            area.scrollTop = action;
            if (character.preventDefault) {
                character.preventDefault();
            }
            return false
        }

        return true
    }
  </script>
  {% endblock %}
</html>
